openai-agents  
pydantic
python-dotenv
autopep8  
pylint  
flake8  
isort  
mypy 
mcp[cli]
uv 
openai-agents[viz]
plotly
numpy
chromadb
tiktoken
google-adk[a2a]
litellm
matplotlib
arize-phoenix
openinference-instrumentation-openai-agents
openinference-instrumentation-openai
fastapi 
uvicorn[standard]